body
{
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    font-family: sans-serif;
    font-size: 80px;
    font-style: bold;
    text-align: center;
    margin-top: 200px;
}

button
{
    width:200px;
    height:40px;
    border:none;
    border-radius:15px;
    box-shadow:0px 0px 10px 3px rgba(0,0,0,0.2);
    background-color:#ffae00;
    color:#000000;
    font-family:sans-serif;
    font-size:32px;
    cursor:hand;
    cursor:pointer;
    text-align: center;
    margin-top: 150px;
    margin-left: 650px;
} 

.home {
    background-image: url("home.jpg");
}

.room {
    background-image: url("room.jpg");
}